$font-weight-bold: 700;
$font-weight-regular: 300;
$primary-font: 'Raleway',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
html {
    font-size: 62.5%;
}

body {
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 1.4rem;
    font-weight: $font-weight-regular;
    @media (min-width: 600px) {
        font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

/* ==============================================
Headings
============================================== */

.heading {
    color: $white;
    line-height: 1.25;
    text-align: center;
    &--primary {
        font-size: 4rem;
        font-weight: $font-weight-regular;
        margin: 0 0 20px;
        text-transform: uppercase;
        @media (min-width: 700px) {
            font-size: 6rem;
        }
    }
    &--secondary {
        font-size: 2rem;
        a {
            color: $white;
            &:hover {
                color: $primary-text-color;
            }
        }
        &-dark {
            color: $black;
        }
        @media (min-width: 700px) {
            font-size: 2.4rem;
        }
    }
}

/* ==============================================
Paragraphs
============================================== */

.paragraph {
    &--loose {
        line-height: 1.5;
    }
    &--lead {
        font-size: 1.5rem;
        line-height: 1.5;
        margin: 0 auto 50px;
        padding-bottom: 35px;
        position: relative;
        max-width: 50ch;
        text-align: center;
        &::after {
            content: "";
            border: .5px solid $primary-text-color;
            bottom: 0;
            left: calc(50% - (20rem / 2));
            position: absolute;
            width: 20rem;
        }
        &--hero {
            color: $light-black;
            font-size: 2rem;
            line-height: 1.5;
            margin: 0 0 30px 0;
            padding-bottom: 0;
            text-align: center;
            @media screen and (min-width: 651px) {
                margin-bottom: 50px;
                text-align: left;
            }
            &::after {
                border: 0;
            }
        }
        @media screen and (min-width: 600px) {
            font-size: 2rem;
        }
    }
}

.hero {
    &__text {
        &__heading {
            @media screen and (min-width: 651px) {
                text-align: left;
            }
            &__highlight {
                color: $black;
                display: block;
                font-weight: $font-weight-bold;
                line-height: .75;
            }
        }
        .button {
            @media screen and (max-width: 650px) {
                display: block;
                margin: 0 auto;
                text-align: center;
                width: 50%;
            }
        }
    }
}

/* ==============================================
Buttons
============================================== */

.button {
    background-color: transparent;
    border: 5px solid $white;
    font-weight: $font-weight-bold;
    padding: 15px;
    text-transform: uppercase;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    &--centered {
        display: block;
        margin: 40px auto 0;
    }
    &--primary {
        color: $white;
        &:hover {
            background-color: $white;
            color: $black;
        }
        &--contrast {
            color: $black;
        }
    }
    &--secondary {
        border-color: $red;
        color: $red;
        &:hover {
            background-color: $red;
            color: $white;
        }
    }
    &--wide {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* ==============================================
Cards
============================================== */

.card-list {
    &__item {
        text-align: center;
        &__paragraph {
            margin-bottom: 0;
        }
        &__body {
            line-height: 1.5;
        }
    }
}

/* ==============================================
Skills section styles
============================================== */

.skills-list {
    &__item__skill-rating {
        color: $white;
        font-family: $secondary-font;
        font-size: 6rem;
        font-weight: $font-weight-regular;
    }
}

/* ==============================================
Stats section styles
============================================== */

.stats-list {
    &__item {
        text-align: center;
        &__stat {
            color: $black;
            font-family: $secondary-font;
            font-size: 6rem;
            font-weight: $font-weight-bold;
            margin: 15px 0 10px;
        }
    }
}

/* ==============================================
Footer
============================================== */

.main-footer__aside {
    .heading--secondary {
        padding-bottom: 0;
    }
    .paragraph {
        line-height: 1.5;
    }
}
